<%= render '/header' %>

<div class="container">

<h1>編集する</h1>

 <%= form_with model: @posts, url: public_post_path(@posts), method: :patch do |f| %>
　　<div class="field">
      <%= f.label :サウナ名, class: "col-3 col-form-label" %>
      <%= f.text_field :sauna %>
    </div>
    <div class="field">
      <%= f.label :投稿, class: "col-3 col-form-label" %>
      <%= f.text_area :text %>
    </div>
    <%= f.select :status, [["公開", "published"], ["下書き", "draft"]],required: true,class:"form-control" %>
    <%= f.submit '投稿' %>
  <% end %>
  
  </div>
