<%= render '/header' %>

<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <%= link_to public_post_path(post.id) do %>
    <%= post.text %>
  <% end %>
  <%= post.text %>
  <%= link_to "#{post.comments.count} コメント", public_post_path(post.id) %>
  <%= link_to "#{post.goods.count} いいね", public_post_path(post.id) %>
<% end %>