<%= render '/header' %>

<div class="container">

  <h2 class="font-weight-bold d-flex align-items-center justify-content-center mt-4">投稿画面</h2>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post, url: public_posts_path, method: :post do |f| %>
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :サウナ名, class: "col-sm-6 col-lg-2 col-form-label font-weight-bold" %>
      <%= f.text_area :sauna, size: "60x1" %>
    </div>
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :投稿, class: "col-sm-6 col-lg-2 col-form-label font-weight-bold" %>
      <%= f.text_area :text, size: "60x8" %>
    </div>
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :住所or施設名, class: "col-sm-6 col-lg-2 col-form-label font-weight-bold" %>
      <%= f.text_area :adress, size: "60x1" %>
    </div>
    <div class="actions ml-4 mt-3 d-flex align-items-center justify-content-center mt-4">
      <%= f.select :status,[["公開", "published"], ["下書き", "draft"]],required: true,class:"form-control" %>
      <%= f.submit '投稿' %>
    </div>
  <% end %>
  <%= link_to "下書きへ", confirm_public_post_path(current_user), class: "d-flex align-items-center justify-content-center text-dark mt-3" %>

</div>

