<%= render '/header' %>

<div class="container">

<h1>投稿画面</h1>
  <%= form_with model: @post, url: public_posts_path, method: :post do |f| %>
　　<div class="field">
      <%= f.label :サウナ名, class: "col-sm-12 col-lg-3 col-form-label" %>
      <%= f.text_field :sauna %>
    </div>
    <div class="field">
      <%= f.label :投稿, class: "col-sm-12 col-lg-3 col-form-label" %>
      <%= f.text_area :job_description, size: "70x8" %>
    </div>
    <%= f.select :status, [["公開", "published"], ["下書き", "draft"]],required: true,class:"form-control" %>
    <%= f.submit '投稿' %>
  <% end %>
  <%= link_to "下書き",confirm_public_post_path(current_user) %>
  
  
</div>
  
