<%= render '/header' %>

<p1>投稿画面</p1>
  <%= form_with model: @post, url: public_posts_path, method: :post do |f| %>
    <h4>サウナ名</h4>
      <%= f.text_field :sauna %>
    <h4>投稿</h4>
      <%= f.text_area :text %>
    <%= f.select :status, [["公開", "published"], ["下書き", "draft"]],required: true,class:"form-control" %>
    <%= f.submit '投稿' %>
  <% end %>
  <h4><%= link_to "下書き",confirm_public_post_path(current_user) %> </h4>
  
