<%= render '/header' %>

<h1>サ活記録</h1>
  <%= month_calendar records: @records do |date, records| %>
    <%= date.day %>
    
    <% records.each do |record| %>
      <div>
        <%= record.sauna_name %>
        <%= record.totonoi_ratio %>
      </div>
    <% end %>
  <% end %>
  
  
  
  <% @records.each do |record| %>
      <tr>
        <td>
          <%= record.day.strftime("%Y-%m-%d")  %>
        </td>
        <td>
          <%= link_to record.sauna_name, public_record_path(record.id) %>
        </td>
        <td>
          <%= record.sauna_tempureture%>
        </td>
        <td>
          <%= record.water_tempurature%>
        </td>
        <td>
          <%= record.tempreture%>
        </td>
        <td>
          <%= record.wether%>
        </td>
        <td>
          <%= record.sets%>
        </td>
        <td>
          <%= record.sauna_time%>
        </td>
        <td>
          <%= record.water_time%>
        </td>
        <td>
          <%= record.totonoi_time%>
        </td>
        <td>
          <%= record.rouryu%>
        </td>
        <td>
          <%= record.totonoi_ratio%>
        </td>
        <td>
          <%= link_to "編集する", edit_public_record_path(record.id) %>
        </td>
        <td>
           <%= link_to "削除する", public_record_path(record.id), method: :delete %>
        </td>
      </tr>
      
  <% end %>
  
  <%= link_to "記録する", new_public_record_path %>
  
 


  