<%= render '/header' %>

<div class="container">
  
	<%= image_tag("logo.jpg", class:"d-block mx-auto p-3",  style:"height:300px; width:300px;") %>
  <h1 class="d-flex align-items-center justify-content-center font-weight-bold m-4 text-primary">ととのいLABとは？</h1>

    <p class="d-flex align-items-center justify-content-center lead font-weight-bold">
    ととのいLABはサウナーのためのコミュニティサイトです。</br>
    サウナ好きの方のととのえ方を見てみるのもよし！
    サウナ好きの方と交流してみるもよし！
    使い方はあなた次第！</br>
    また、自分のサ活記録の記録もできる！
    ぜひこのととのいLABでもう一段階上のととのいへ、、、
    </p>
    
  <h2 class="d-flex align-items-center justify-content-center font-weight-bold m-4 text-primary">ととのいLABでできること</h2>
    <div class="d-flex justify-content-between">
      <div class="col-lg-4">
      <p class="d-flex jalign-items-center justify-content-center  lead font-weight-bold">サ活の投稿/閲覧</p>
      <%= image_tag("toukou.jpeg", class:"d-block mx-auto",  style:"height:80px; width:80px;") %>
      <p class="font-weight-bold pl-4 pt-4">行ったサウナの感想をシェアし、みんなのサ活の様子を覗いてみよう！</p>
      </div>
      <div  class="col-lg-4">
      <p class="d-flex jalign-items-center justify-content-center  lead font-weight-bold">サウナーとの交流</p>
      <%= image_tag("kaigi.jpeg", class:"d-block mx-auto",  style:"height:80px; width:80px;") %>
      <p class="font-weight-bold pl-4 pr-4  pt-4">他のサウナーの投稿にコメントし、いろんな意見を交換しよう！</p>
      </div>
      <div  class="col-lg-4">
      <p class="d-flex jalign-items-center justify-content-center  lead font-weight-bold">自分のサ活を記録</p>
      <%= image_tag("calendar.jpeg", class:"d-block mx-auto",  style:"height:80px; width:80px;") %>
      <p class="font-weight-bold pr-4 pl-4 pt-4">自分のサウナの活動を記録し、振り返って自分の中で最高の整い方を見つけよう!</p>
      </div>
    </div>
</div>