<%= render '/header' %>

  <div class="background">
    <%= image_tag("logo.jpg", class:"d-block mx-auto p-5",  style:"height:300px; width:300px;") %>
    <h1 class="d-flex align-items-center justify-content-center text-light">ととのいLABへようこそ！</h1>
  </div>
  
  <div class="container">
  
    <h2 class="font-weight-bold">みんなのサ活</h2>
    <p class="ml-3 lead">サウナに行った記録をみんなで共有しよう！</p>
    
    <div class="col-md-12 col-lg-8">
    <div class="card-list-container py-5">
      <% @posts.each do |post| %>
        <div class="card mx-auto mt-1 shadow-lg">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <%= image_tag post.user.get_profile_image(70,70), class:"mt-3 rounded-circle"; %>
              </div>
              <div class="col-lg-10 col-xs-12">
                <p class="card-title">
                  <strong><%= post.user.nickname %></strong>
                </p>
                <p class="card-title">
                  サウナ名：<%= post.sauna %>
                </p>
                <p class="card-text">
                  <%= post.text %>
                </p>
                <p class="card-text">
                  <%= post.created_at.strftime('%Y/%m/%d') %>
                </P>  
                <%= "コメント　#{post.comments.count}件" %> 
                <i class="far fa-heart"></i><%= "　#{post.goods.count}件" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>
    </div>
  </div>