<h1>トップページ</h1>

    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>

<% @posts.each do |post| %>
  <%= post.user.nickname %>
  <%= link_to post_show_path(post.id) do %>
    <%= post.sauna %>
  <% end %>
  <%= post.text %>
<% end %>