<%= render '/header' %>

<div class="container">

  <h2 class="font-weight-bold d-flex align-items-center justify-content-center mb-4"><%= @user.last_name %><%= @user.first_name %>さんの会員情報編集</h2>

  <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>

    <div class="field d-flex align-items-center justify-content-center font-weight-bold">
      <%= f.label :会員ID, class: "col-sm-6 col-lg-5 col-form-label" %>
      <%= @user.id %>
    </div>
    
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :名前（性）, class: "col-sm-6 col-lg-3 col-form-label font-weight-bold" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    </div>
    
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :名前（名）, class: "col-sm-6 col-lg-3 col-form-label font-weight-bold" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div>
    
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :フリガナ（セイ）, class: "col-sm-6 col-lg-3 col-form-label  font-weight-bold" %>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    </div>
      
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :フリガナ（メイ）, class: "col-sm-6 col-lg-3 col-form-label font-weight-bold" %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>      
    </div>
    
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :ニックネーム, class: "col-sm-6 col-lg-3 col-form-label font-weight-bold" %>
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  　</div>
  　
    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :メールアドレス, class: "col-sm-6 col-lg-3 col-form-label  font-weight-bold" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div class="actions ml-3 mt-3 d-flex align-items-center justify-content-center">
      <%= f.submit '変更を保存', class: "btn btn-success" %>
    </div>
  
    <div class="actions mt-3 d-flex align-items-center justify-content-center">
      <%= link_to "退会させる", admin_user_path, method: :delete, "data-confirm" => "本当に退会させますか？", class: "btn btn-danger ml-3" %>
    </div>
  
  <% end %>

</div>