<%= render '/header' %>

<div class="container">

<h3 class="ml-5 mt-3 mb-5 bg-light pl-2 pr-2 pt-2 col-2">会員一覧</h3>

<table class="table col-10 offset-md-1">
  <thead>
    <tr>
      <th class="table-secondary">会員ID</th>
      <th class="table-secondary">氏名</th>
      <th class="table-secondary">ニックネーム</th>
      <th class="table-secondary">メールアドレス</th>
      <th class="table-secondary">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to admin_user_path(user.id) do %>
            <%= user.last_name %><%= user.first_name %>
            <% end %>
        <td><%= user.nickname %></td>
        </td>
        <td><%= user.email %></td>
    <% end %>
  </tbody>
</table>

</div>