<%= render '/header' %>

<div class= "container">
  
  <h2 class="font-weight-bold d-flex align-items-center justify-content-center mb-4">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field  d-flex align-items-center justify-content-center">
      <%= f.label :メールアドレス, class: "col-sm-6 col-lg-3 col-form-label font-weight-bold" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ml-5" %>
    </div>

    <div class="field d-flex align-items-center justify-content-center">
      <%= f.label :パスワード, class: "col-sm-6 col-lg-3 col-form-label font-weight-bold" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "ml-5" %>
    </div>

    <div class="actions ml-4 mt-3 d-flex align-items-center justify-content-center">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
  
  <div class="d-flex align-items-center justify-content-center">
    <%= render "public/shared/links" %>
  </div>

</div>
