<%= render '/header' %>

<div class= "container">
  
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス, class: "col-sm-12 col-lg-3 col-form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード, class: "col-sm-12 col-lg-3 col-form-label" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions col-8">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <%= render "public/shared/links" %>

</div>
